<h2>Configuración del Servidor</h2>

<ul>
  <li>Puerto: {{data.port}}</li>
  <li>Mongo URI: {{data.mongoUri}}</li>
  <li>Mail de notificaciones: {{data.gmailUser}}</li>
  <li>Password de mail: {{data.gmailPass}}</li>
  <li>Duración de Sesión: {{data.expirationSession}}</li>
  <li>Persistencia: {{data.persistence}}</li>
</ul>