<h2>Información del servidor</h2>
<ul>
  <li>Argumentos de entrada: {{processInfo.entryArgv}}</li>
  <li>Sistema operativo: {{processInfo.plattaformName}}</li>
  <li>Version de NodeJS: {{processInfo.nodeVersion}}</li>
  <li>Uso de memoria: {{processInfo.memoryUsage}}</li>
  <li>Path de ejeción: {{processInfo.execPath}}</li>
  <li>ID de proceso: {{processInfo.processId}}</li>
  <li>Ruta de carpeta: {{processInfo.folderName}}</li>
  <li>Número de CPUs utilizados: {{processInfo.numberOfCPUS}}</li>
</ul>